[Unit]
Description=Pico-8 LED Matrix Arcade
After=network.target multi-user.target graphical.target

[Service]
Type=simple
User=luclement
Group=luclement
WorkingDirectory=/mnt/storage/Projets/pico8-arcade 
ExecStart=/mnt/storage/Projets/pico8-arcade/venv/bin/python3 /mnt/storage/Projets/pico8-arcade/pico8-arcade.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

