[Unit]
Description=Pico-8 LED Matrix App
After=network.target

[Service]
Type=simple
User=root
Environment=HOME=/home/pico
WorkingDirectory=/home/pico
ExecStart=/home/pico/pico8-arcade/xvfb-start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target